.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

@media (min-width: 600px)
 {
  .center {
    margin: auto;
    width: 90%;
    padding: 10px;
  }
}

@media (min-width: 400px)
 {
  .center {
    margin: auto;
    width: 70%;
    padding: 10px;
  }
}

@media (min-width: 100px)
 {
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
}