* {
    box-sizing: border-box;
}


.form-container {
    width: 95%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 2em 0;
}

@media (max-width: 1200px)  {
    .form-container {
        width: 80%;
    }
}
.form-title {
    text-align: center;
}

.form-title > h2 {
    width: 300px;
    white-space: nowrap;
    text-align: center;
    border-bottom: #000 solid 2px;
    margin:auto;
    margin-bottom: 0.6em;
    padding-bottom: 0.6em;
}
/* style --> form style */

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-info {
    display: flex;
    justify-content: space-between;
}

.user-info .name, 
.user-info .email {
    width: 48%;
    margin: 1em 0;
    height: 50px;
}

::placeholder {
    font-size: 18px;
}

.form-container input, 
.form-container textarea {
    padding: 1em;
    font-size: 18px;
    border-style: none;
    border-radius: 10px;
}

.user-message .text {
    width: 100%;
}

.form-container textarea {
    margin-bottom: 1em;
}

.form-container .btn-submit {
    width: 20%;
    height: 10%;
    font-size: 20px;
    padding: .4em;
    border-style: none;
    border: #7a7d86 solid 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

.btn-submit:hover {
    background-color: #fff;
    transform: scale(1.2);
}

.submit-form {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}
