
nav a { 
  color: #333 !important;
}
nav a:hover { 
  color: rgb(187, 93, 93) !important;
}

.navbar-header {
  display: inline-block !important;
  font-size: 18px;
  font-weight: 400 !important;
}
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav>li{
  float: none;
  display: inline-block;
}

.cv-navbar {
  /*background: none !important*/
  background-color: rgba(255,255,255,0.7) !important;
  border-bottom: 1px solid #ddd !important;
  margin-bottom: 0px !important;
}
.cv-navbar a {
  font-weight: 400 !important;
}

.cv-navbar .navbar-toggle {
  border-color: #fff;
}
.cv-navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}

.cv-navbar-container {
  height:60px;
  vertical-align:middle;
  line-height: 60px;
}

.cv-navbar-image-container>a {
  color: #fff;
}
.cv-navbar-container>#navbar>.nav>li>a {
  color: #fff;
  display: inline-block !important;
  font-size: 18px;
}
.cv-navbar-container>#navbar>.nav>li>a:hover {
  background: none;
}

.cv-navbar-image-container {
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}
.cv-navbar-image-container .nav-logo {
  width: 258px;
}

.cv-navbar-image-container img {
  height: 50%;
}

.cv-navbar-image-container-bg .nav-logo {
  width: 180px;
}

.navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
  background-color: transparent;
} 


.btn-mobile-menu {
  background-color: rgba(255,255,255,0);
  border: 1px solid #ccc;
}
.btn-mobile-menu:hover {
  background-color: rgba(255,255,255,0);
  border: 1px solid #ccc;
}
.btn-mobile-menu:focus {
  background-color: rgba(255,255,255,0);
  border: 1px solid #ccc;
}

.btn-mobile-menu_bg, .btn-mobile-menu_bg:hover, .btn-mobile-menu_bg:focus {
  color: #999;
  border: 1px solid #999;
}